.emphasize a,
.emphasize {
  font-weight: bold;
  color: #cc0000;
}

a[name] {
	color: #000000;
}

.markdown-body pre:not(.prettyprint) {
	color: #fff;
	background-color: #000;
	font-size: 80%;
}

a {
}
